name: Deploy

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v3
    - name: 'Installing dependencies'
      run: npm i
    - name: 'Testing'
      run: npm test
    - name: 'Storybook'
      run: npm run build-storybook
    - uses: mathiasgheno/s3-on-demand-action@main
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        SOURCE_DIR: 'storybook-static'
        LOG_LEVEL: 'error'
